html, body {
	height: 100%;
}
div.navigation {
	width: 15rem;
	height: 100%;
	background-color: #384346;
}
a.dashboard {
	padding: 1rem 0.3rem;
	color: #fff;
	display: block;
	text-decoration: none;
}
.vehiculos {
	padding: 0;
}
.vehiculos li {
	list-style: none;
}
.vehiculos li a {
	color: #fff;
	display: block;
	padding: 1rem;
	text-decoration: none;
	padding: 1rem 1rem 1rem 2rem;
}
.vehiculos li a:hover {
	background-color: #4D5D61;
	
}