/*Botón para cerrar sesión*/
.arr {
	background-color: #384346;
	display: flex;
    justify-content: flex-end;
    padding-right: 1rem; }
.li {
	list-style: none;
	display: inline-block; }
.dropdown-menu { padding: 0.4rem; }



table{
	border: 1px solid black;
}

.ar{
	margin-left: 20px;
}
.owl-carousel{
	margin-top: 100px;
	margin-left: 100px;

}
.descrip{
	margin-left: 150px;
	text-align: center;
	background-color: #5E5A5A;
	color: white;
	opacity: 0.4;
	margin-top: 50px; 

}
.container-page{
	background-color: #E8E4E4;
}