@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fgv4ni');
  src:  url('../fonts/icomoon.eot?fgv4ni#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fgv4ni') format('truetype'),
    url('../fonts/icomoon.woff?fgv4ni') format('woff'),
    url('../fonts/icomoon.svg?fgv4ni#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}


body {
	font-family:  'Raleway', sans-serif;
}
html, body {
	height: 100%;
}
div.navigation {
	width: 15rem;
	height: 100%;
	background-color: #384346;
	position: absolute;
}
a.dashboard {
	padding: 1rem 0.3rem;
	color: #fff;
	display: block;
	text-decoration: none;
}
.vehiculos {
	padding: 0;
}
.vehiculos li {
	list-style: none;
}
.vehiculos li a {
	color: #fff;
	display: block;
	padding: 1rem;
	text-decoration: none;
	padding: 1rem 1rem 1rem 2rem;
}
.vehiculos li a:hover {
	background-color: #4D5D61;
	
}

/*CSS Mazda*/
div.mazda {
	padding-left: 15rem;
	height: 100%;
    width: 100%;
    display: flex;
}
div.mazda div {
	padding: 1rem;
}
div.mazda div ul {
}
div.mazda div ul li {
	width: 20rem;
	height: 30rem;
	background-color: #ccc;
	display: inline-block;
}

div.mazda div ul li div h1 {
	text-align: center;
    text-shadow: 1px 2px #b5b9bd;
    color: white;
}
div.mazda div ul li div figure.car1 {
	background: url(../imgs/mazdacx5.png);
    height: 10rem;
    background-size: cover;
}
div.mazda div ul li div figure.car2 {
	background: url(../imgs/mazdacx3.png);
    height: 10rem;
    background-size: cover;
}
div.mazda div ul li div .buttons button {
	border: none;
	padding: 1rem;
	background-color: #fff;
	width: 5rem;
}
div.mazda div ul li div .buttons {
	display: flex;
	justify-content: space-around;
}